.lumina-volume-container {
    position: absolute;
    width: 235rem;
    top: 0rem; /* 50rem + 20rem */
    left: 40rem;
}

.lumina-volume-image {
    position: absolute;
    top: 0rem; /* -35rem + 20rem */
    height: 20rem;
    width: 20rem;
    left: -30rem;
    z-index: 1000;
}

.lumina-volume-toggle {
    position: absolute;
    top: 0rem; /* -35rem + 20rem */
    height: 20rem;
    width: 20rem;
    left: -30rem;
}
