.CubemapsDropdown {
    position: absolute;
    top:0rem;
    width:800rem;
    left:150rem;
}

.CubemapName {
    position: absolute;
    font-size: 15rem;
    color: white;
    top:0rem;
    left:5rem;
    text-transform: uppercase; /* Transforms text to uppercase */
}