.lut-contribution-slider {
    position: absolute;
    top: 80rem;
    left:5rem;
    width:380rem;

}

.lut-contribution-input {
    position: absolute;
    top: 72rem;
    left:410rem;
    color: white;
    height: 25rem;
    width:80rem;
}

.lut-contribution-label {
    position: absolute;
    text-transform: uppercase;
    top: 53rem;
    color: rgb(211, 211, 211);
    font-size: 15rem;
    left:10rem;
}