.checkbox-container {
    position: absolute;
 
  }
 
  .checkbox-image {
    position: absolute;
    background-image: url('https://raw.githubusercontent.com/NyokoDev/LuminaCS2/refs/heads/master/HTTP/Checkmark.svg');
    background-size: cover; /* Make sure the background image covers the entire area */
    width: 28rem;
    height: 28rem;
    filter: invert(100%);
  }