:root {
    --size: 42rem;
}

.EditorIcon {
    pointer-events: auto;
    width: var(--size);
    height: var(--size);
}

.EditorIcon img{
    width: 45rem;
    height: 45rem;

}

.EditorIcon {
    position: absolute;
    width: 56.000000rem;
    height: 56.000000rem;
    top:900rem;
    right: 0rem;
}

.Tab1{
    display: none;
}