:root {
  --size: 46rem;
}


/* ==== BASE ICON ==== */

.LuminaIcon {

  width: var(--size);
  height: var(--size);

  cursor: pointer;

  border-radius: 50%;

  position: relative;

  background: rgba(255, 255, 255, 0.05);

  box-shadow:
    0 0 2rem rgba(255, 255, 255, 0.05);

}

.IconInner {
    width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.ClassicIcon {
    background-image: url("./img/Lumina.svg");
    filter:(invert(100%));
}


.NGXIcon {
    background-image: url("./img/LuminaNGX.svg");
}


/* ==== IMAGE ==== */

.LuminaIcon img {

  width: 100%;
  height: 100%;

  border-radius: 50%;

  display: block;
  filter:invert(100%)
}



/* ==== SIMPLE HOVER ==== */

.LuminaIcon:hover {

  transform: scale(1.05);

  animation: luminaFloat 1.5s ease-in-out infinite;

}



/* ==== CLICK ==== */

.LuminaIcon:active {

  transform: scale(0.96);

}



/* ==== SINGLE ANIMATION ==== */

@keyframes luminaFloat {

  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }

  100% {
    transform: translateY(0rem);
  }

}

.IconContainer {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.LuminaButtonWrapper {
    position: relative;
}


.LuminaTooltip {
    position: absolute;

    top: 100%;
    left: 50%;

    transform: translateX(-50%);

    margin-top: 8px;

    display: flex;
    flex-direction: column;

    min-width: 150px;

    padding: 6px;

    background: rgba(20, 20, 25, 0.95);

    border-radius: 6px;

    z-index: 9999;

    pointer-events: auto;
}


.TooltipOption {

    background: transparent;

    border: none;

    padding: 8px 12px;

    color: white;

    text-align: left;

    cursor: pointer;

    font-size: 14px;


    &:hover {
        background: rgba(255,255,255,0.15);
    }
}